<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 text-white min-h-screen flex flex-col items-center justify-center px-4"
  >
    <div class="w-full max-w-md">
      <h3 class="text-2xl  mb-6 text-center">Welcome <%=user.username%> 🤘</h1>
      <h1 class="text-3xl font-bold mb-6 text-center">Create a New Post</h1>
      <form action="/profile" method="post" class="flex flex-col gap-4">
        <input
          type="text"
          name="title"
          placeholder="Post Title"
          required
          class="px-4 py-2 rounded bg-gray-800 text-white border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <textarea
          name="content"
          placeholder="Write your content here..."
          rows="5"
          required
          class="px-4 py-2 rounded bg-gray-800 text-white resize-none border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        ></textarea>
        <button
          type="submit"
          class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded transition"
        >
          Post
        </button>
      </form>

      <div class="flex justify-between mt-6">
        <a
          href="/feed"
          class="bg-gray-700 hover:bg-gray-600 px-4 py-2 rounded transition"
          >Go to Feed</a
        >
        <a
          href="/logout"
          class="bg-red-600 hover:bg-red-700 px-4 py-2 rounded transition"
          >Logout</a
        >
      </div>
    </div>
  </body>
</html>
